[View in Colaboratory](https://colab.research.google.com/github/todun/data-science-africa-challenge/blob/master/TodunOsunloye2018_DataScienceAfricaChallenge_SOLUTION.ipynb)

# About me

My name is ***Todun Osunloye*** and I am interested in the intersection of ***pan-African*** *issues* and ***sustainable technology-enabled solutions***.

## Statement Of Interest

http://bit.ly/TodunOsunloye2018-StatementOfInterest-AfricaDataScience

### code submission

http://bit.ly/TodunOsunloye2018-DataScienceAfricaChallenge-Code-Submission

## My Profile

### Resume

https://bit.ly/TodunOsunloye2018Resume

### LinkedIn

https://www.linkedin.com/in/todun

### Github 
Code Repository

https://www.github.com/todun

### Personal Website

https://www.todunosun.com

# About Challenge

http://bit.ly/divdsa2018

# Setup

Tested with **Python 3.7.0**

## anaconda python package manager

In [6]:
# !wget -nc https://repo.continuum.io/archive/Anaconda3-5.2.0-Linux-x86_64.sh
!wget -nc https://repo.continuum.io/archive/Anaconda2-5.3.0-Linux-x86_64.sh
!chmod +x Anaconda3-5.2.0-Linux-x86_64.sh
!bash ./Anaconda3-5.2.0-Linux-x86_64.sh -b -f -p /usr/local
!conda install -y --prefix /usr/local -c conda-forge -c dlr-sc -c pythonocc -c oce pythonocc-core # !conda install -y --prefix /usr/local -c <<<your wish>>>>

import sys
sys.path.append('/usr/local/lib/python3.6/site-packages/')

!conda update -n base conda -y
!conda config --append channels conda-forge
!conda install numpy scipy scikit-learn pandas update_checker scikit-mdr -y

--2018-10-14 19:26:13--  https://repo.continuum.io/archive/Anaconda2-5.3.0-Linux-x86_64.sh
Resolving repo.continuum.io (repo.continuum.io)... 104.16.19.10, 104.16.18.10, 2400:cb00:2048:1::6810:120a, ...
Connecting to repo.continuum.io (repo.continuum.io)|104.16.19.10|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 647650387 (618M) [application/x-sh]
Saving to: ‘Anaconda2-5.3.0-Linux-x86_64.sh’

Anaconda2-5.3.0-Lin 100%[===================>] 617.65M  97.9MB/s    in 6.1s

2018-10-14 19:26:20 (102 MB/s) - ‘Anaconda2-5.3.0-Linux-x86_64.sh’ saved [647650387/647650387]

PREFIX=/usr/local
installing: python-3.6.5-hc3d631a_2 ...
Python 3.6.5 :: Anaconda, Inc.
installing: blas-1.0-mkl ...
installing: ca-certificates-2018.03.07-0 ...
installing: conda-env-2.6.0-h36134e3_1 ...
installing: intel-openmp-2018.0.0-8 ...
installing: libgcc-ng-7.2.0-hdf63c60_3 ...
installing: libgfortran-ng-7.2.0-hdf63c60_3 ...
installing: libstdcxx-ng-7.2.0-hdf63c60_3 ...
installing: bzip2-1.0.6-h14c3975_5 ...
installing: expat-2.2.5-he0dffb1_0 ...
installing: gmp-6.1.2-h6c8ec71_1 ...
installing: graphite2-1.3.11-h16798f4_2 ...
installing: icu-58.2-h9c2bf20_1 ...
installing: jbig-2.1-hdba287a_0 ...
installing: jpeg-9b-h024ee3a_2 ...
installing: libffi-3.2.1-hd88cf55_4 ...
installing: libsodium-1.0.16-h1bed415_0 ...
installing: libtool-2.4.6-h544aabb_3 ...
installing: libxcb-1.13-h1bed415_1 ...
installing: lzo-2.10-h49e0be7_2 ...
installing: mkl-2018.0.2-1 ...
installing: ncurses-6.1-hf484d3e_0 ...
installing: openssl-1.0.2o-h20670df_0 ...
installing: patchelf-0.9-hf79760b_2 ...
installing: pcre-8.42-h439df22_0 ...
installing: pixman-0.34.0-hceecf20_3 ...
installing: snappy-1.1.7-hbae5bb6_3 ...
installing: tk-8.6.7-hc745277_3 ...
installing: unixodbc-2.3.6-h1bed415_0 ...
installing: xz-5.2.4-h14c3975_4 ...
installing: yaml-0.1.7-had09818_2 ...
installing: zlib-1.2.11-ha838bed_2 ...
installing: blosc-1.14.3-hdbcaa40_0 ...
installing: glib-2.56.1-h000015b_0 ...
installing: hdf5-1.10.2-hba1933b_1 ...
installing: libedit-3.1.20170329-h6b74fdf_2 ...
installing: libpng-1.6.34-hb9fc6fc_0 ...
installing: libssh2-1.8.0-h9cfc8f7_4 ...
installing: libtiff-4.0.9-he85c1e1_1 ...
installing: libxml2-2.9.8-h26e45fe_1 ...
installing: mpfr-3.1.5-h11a74b3_2 ...
installing: pandoc-1.19.2.1-hea2e7c5_1 ...
installing: readline-7.0-ha6073c6_4 ...
installing: zeromq-4.2.5-h439df22_0 ...
installing: dbus-1.13.2-h714fa37_1 ...
installing: freetype-2.8-hab7d2ae_1 ...
installing: gstreamer-1.14.0-hb453b48_1 ...
installing: libcurl-7.60.0-h1ad7b7a_0 ...
installing: libxslt-1.1.32-h1312cb7_0 ...
installing: mpc-1.0.3-hec55b23_5 ...
installing: sqlite-3.23.1-he433501_0 ...
installing: curl-7.60.0-h84994c4_0 ...
installing: fontconfig-2.12.6-h49f89f6_0 ...
installing: gst-plugins-base-1.14.0-hbbd80ab_1 ...
installing: alabaster-0.7.10-py36h306e16b_0 ...
installing: asn1crypto-0.24.0-py36_0 ...
installing: attrs-18.1.0-py36_0 ...
installing: backcall-0.1.0-py36_0 ...
installing: backports-1.0-py36hfa02d7e_1 ...
installing: beautifulsoup4-4.6.0-py36h49b8c8c_1 ...
installing: bitarray-0.8.1-py36h14c3975_1 ...
installing: boto-2.48.0-py36h6e4cd66_1 ...
installing: cairo-1.14.12-h7636065_2 ...
installing: certifi-2018.4.16-py36_0 ...
installing: chardet-3.0.4-py36h0f667ec_1 ...
installing: click-6.7-py36h5253387_0 ...
installing: cloudpickle-0.5.3-py36_0 ...
installing: colorama-0.3.9-py36h489cec4_0 ...
installing: contextlib2-0.5.5-py36h6c84a62_0 ...
installing: dask-core-0.17.5-py36_0 ...
installing: decorator-4.3.0-py36_0 ...
installing: docutils-0.14-py36hb0f60f5_0 ...
installing: entrypoints-0.2.3-py36h1aec115_2 ...
installing: et_xmlfile-1.0.1-py36hd6bccc3_0 ...
installing: fastcache-1.0.2-py36h14c3975_2 ...
installing: filelock-3.0.4-py36_0 ...
installing: glob2-0.6-py36he249c77_0 ...
installing: gmpy2-2.0.8-py36hc8893dd_2 ...
installing: greenlet-0.4.13-py36h14c3975_0 ...
installing: heapdict-1.0.0-py36_2 ...
installing: idna-2.6-py36h82fb2a8_1 ...
installing: imagesize-1.0.0-py36_0 ...
installing: ipython_genutils-0.2.0-py36hb52b0d5_0 ...
installing: itsdangerous-0.24-py36h93cc618_1 ...
installing: jdcal-1.4-py36_0 ...
installing: kiwisolver-1.0.1-py36h764f252_0 ...
installing: lazy-object-proxy-1.3.1-py36h10fcdad_0 ...
installing: llvmlite-0.23.1-py36hdbcaa40_0 ...
installing: locket-0.2.0-py36h787c0ad_1 ...
installing: lxml-4.2.1-py36h23eabaa_0 ...
installing: markupsafe-1.0-py36hd9260cd_1 ...
installing: mccabe-0.6.1-py36h5ad9710_1 ...
installing: mistune-0.8.3-py36h14c3975_1 ...
installing: mkl-service-1.1.2-py36h17a0993_4 ...
installing: mpmath-1.0.0-py36hfeacd6b_2 ...
installing: msgpack-python-0.5.6-py36h6bb024c_0 ...
installing: multipledispatch-0.5.0-py36_0 ...
installing: numpy-base-1.14.3-py36h9be14a7_1 ...
installing: olefile-0.45.1-py36_0 ...
installing: pandocfilters-1.4.2-py36ha6701b7_1 ...
installing: parso-0.2.0-py36_0 ...
installing: path.py-11.0.1-py36_0 ...
installing: pep8-1.7.1-py36_0 ...
installing: pickleshare-0.7.4-py36h63277f8_0 ...
installing: pkginfo-1.4.2-py36_1 ...
installing: pluggy-0.6.0-py36hb689045_0 ...
installing: ply-3.11-py36_0 ...
installing: psutil-5.4.5-py36h14c3975_0 ...
installing: ptyprocess-0.5.2-py36h69acd42_0 ...
installing: py-1.5.3-py36_0 ...
installing: pycodestyle-2.4.0-py36_0 ...
installing: pycosat-0.6.3-py36h0a5515d_0 ...
installing: pycparser-2.18-py36hf9f622e_1 ...
installing: pycrypto-2.6.1-py36h14c3975_8 ...
installing: pycurl-7.43.0.1-py36hb7f436b_0 ...
installing: pyodbc-4.0.23-py36hf484d3e_0 ...
installing: pyparsing-2.2.0-py36hee85983_1 ...
installing: pysocks-1.6.8-py36_0 ...
installing: pytz-2018.4-py36_0 ...
installing: pyyaml-3.12-py36hafb9ca4_1 ...
installing: pyzmq-17.0.0-py36h14c3975_0 ...
installing: qt-5.9.5-h7e424d6_0 ...
installing: qtpy-1.4.1-py36_0 ...
installing: rope-0.10.7-py36h147e2ec_0 ...
installing: ruamel_yaml-0.15.35-py36h14c3975_1 ...
installing: send2trash-1.5.0-py36_0 ...
installing: simplegeneric-0.8.1-py36_2 ...
installing: sip-4.19.8-py36hf484d3e_0 ...
installing: six-1.11.0-py36h372c433_1 ...
installing: snowballstemmer-1.2.1-py36h6febd40_0 ...
installing: sortedcontainers-1.5.10-py36_0 ...
installing: sphinxcontrib-1.0-py36h6d0f590_1 ...
installing: sqlalchemy-1.2.7-py36h6b74fdf_0 ...
installing: tblib-1.3.2-py36h34cf8b6_0 ...
installing: testpath-0.3.1-py36h8cadb63_0 ...
installing: toolz-0.9.0-py36_0 ...
installing: tornado-5.0.2-py36_0 ...
installing: typing-3.6.4-py36_0 ...
installing: unicodecsv-0.14.1-py36ha668878_0 ...
installing: wcwidth-0.1.7-py36hdf4376a_0 ...
installing: webencodings-0.5.1-py36h800622e_1 ...
installing: werkzeug-0.14.1-py36_0 ...
installing: wrapt-1.10.11-py36h28b7045_0 ...
installing: xlrd-1.1.0-py36h1db9f0c_1 ...
installing: xlsxwriter-1.0.4-py36_0 ...
installing: xlwt-1.3.0-py36h7b00a1f_0 ...
installing: babel-2.5.3-py36_0 ...
installing: backports.shutil_get_terminal_size-1.0.0-py36hfea85ff_2 ...
installing: cffi-1.11.5-py36h9745a5d_0 ...
installing: conda-verify-2.0.0-py36h98955d8_0 ...
installing: cycler-0.10.0-py36h93f1223_0 ...
installing: cytoolz-0.9.0.1-py36h14c3975_0 ...
installing: harfbuzz-1.7.6-h5f0a787_1 ...
installing: html5lib-1.0.1-py36h2f9c1c0_0 ...
installing: jedi-0.12.0-py36_1 ...
installing: more-itertools-4.1.0-py36_0 ...
installing: networkx-2.1-py36_0 ...
installing: nltk-3.3.0-py36_0 ...
installing: openpyxl-2.5.3-py36_0 ...
installing: packaging-17.1-py36_0 ...
installing: partd-0.3.8-py36h36fd896_0 ...
installing: pathlib2-2.3.2-py36_0 ...
installing: pexpect-4.5.0-py36_0 ...
installing: pillow-5.1.0-py36h3deb7b8_0 ...
installing: pyqt-5.9.2-py36h751905a_0 ...
installing: python-dateutil-2.7.3-py36_0 ...
installing: qtawesome-0.4.4-py36h609ed8c_0 ...
installing: setuptools-39.1.0-py36_0 ...
installing: singledispatch-3.4.0.3-py36h7a266c3_0 ...
installing: sortedcollections-0.6.1-py36_0 ...
installing: sphinxcontrib-websupport-1.0.1-py36hb5cb234_1 ...
installing: sympy-1.1.1-py36hc6d1c1c_0 ...
installing: terminado-0.8.1-py36_1 ...
installing: traitlets-4.3.2-py36h674d592_0 ...
installing: zict-0.1.3-py36h3a3bf81_0 ...
installing: astroid-1.6.3-py36_0 ...
installing: bleach-2.1.3-py36_0 ...
installing: clyent-1.2.2-py36h7e57e65_1 ...
installing: cryptography-2.2.2-py36h14c3975_0 ...
installing: cython-0.28.2-py36h14c3975_0 ...
installing: distributed-1.21.8-py36_0 ...
installing: get_terminal_size-1.0.0-haa9412d_0 ...
installing: gevent-1.3.0-py36h14c3975_0 ...
installing: isort-4.3.4-py36_0 ...
installing: jinja2-2.10-py36ha16c418_0 ...
installing: jsonschema-2.6.0-py36h006f8b5_0 ...
installing: jupyter_core-4.4.0-py36h7c827e3_0 ...
installing: navigator-updater-0.2.1-py36_0 ...
installing: nose-1.3.7-py36hcdf7029_2 ...
installing: pango-1.41.0-hd475d92_0 ...
installing: pyflakes-1.6.0-py36h7bd6a15_0 ...
installing: pygments-2.2.0-py36h0d3125c_0 ...
installing: pytest-3.5.1-py36_0 ...
installing: wheel-0.31.1-py36_0 ...
installing: flask-1.0.2-py36_1 ...
installing: jupyter_client-5.2.3-py36_0 ...
installing: nbformat-4.4.0-py36h31c9010_0 ...
installing: pip-10.0.1-py36_0 ...
installing: prompt_toolkit-1.0.15-py36h17d85b1_0 ...
installing: pylint-1.8.4-py36_0 ...
installing: pyopenssl-18.0.0-py36_0 ...
installing: pytest-openfiles-0.3.0-py36_0 ...
installing: pytest-remotedata-0.2.1-py36_0 ...
installing: flask-cors-3.0.4-py36_0 ...
installing: ipython-6.4.0-py36_0 ...
installing: nbconvert-5.3.1-py36hb41ffb7_0 ...
installing: urllib3-1.22-py36hbe7ace6_0 ...
installing: ipykernel-4.8.2-py36_0 ...
installing: requests-2.18.4-py36he2e5f8d_1 ...
installing: anaconda-client-1.6.14-py36_0 ...
installing: jupyter_console-5.2.0-py36he59e554_1 ...
installing: notebook-5.5.0-py36_0 ...
installing: qtconsole-4.3.1-py36h8f73b5b_0 ...
installing: sphinx-1.7.4-py36_0 ...
installing: anaconda-navigator-1.8.7-py36_0 ...
installing: anaconda-project-0.8.2-py36h44fb852_0 ...
installing: jupyterlab_launcher-0.10.5-py36_0 ...
installing: numpydoc-0.8.0-py36_0 ...
installing: widgetsnbextension-3.2.1-py36_0 ...
installing: ipywidgets-7.2.1-py36_0 ...
installing: jupyterlab-0.32.1-py36_0 ...
installing: spyder-3.2.8-py36_0 ...
installing: _ipyw_jlab_nb_ext_conf-0.1.0-py36he11e457_0 ...
installing: jupyter-1.0.0-py36_4 ...
installing: bokeh-0.12.16-py36_0 ...
installing: bottleneck-1.2.1-py36haac1ea0_0 ...
installing: conda-4.5.4-py36_0 ...
installing: conda-build-3.10.5-py36_0 ...
installing: datashape-0.5.4-py36h3ad6b5c_0 ...
installing: h5py-2.7.1-py36ha1f6525_2 ...
installing: imageio-2.3.0-py36_0 ...
installing: matplotlib-2.2.2-py36h0e671d2_1 ...
installing: mkl_fft-1.0.1-py36h3010b51_0 ...
installing: mkl_random-1.0.1-py36h629b387_0 ...
installing: numpy-1.14.3-py36hcd700cb_1 ...
installing: numba-0.38.0-py36h637b7d7_0 ...
installing: numexpr-2.6.5-py36h7bf3b9c_0 ...
installing: pandas-0.23.0-py36h637b7d7_0 ...
installing: pytest-arraydiff-0.2-py36_0 ...
installing: pytest-doctestplus-0.1.3-py36_0 ...
installing: pywavelets-0.5.2-py36he602eb0_0 ...
installing: scipy-1.1.0-py36hfc37229_0 ...
installing: bkcharts-0.2-py36h735825a_0 ...
installing: dask-0.17.5-py36_0 ...
installing: patsy-0.5.0-py36_0 ...
installing: pytables-3.4.3-py36h02b9ad4_2 ...
installing: pytest-astropy-0.3.0-py36_0 ...
installing: scikit-learn-0.19.1-py36h7aa7ec6_0 ...
installing: astropy-3.0.2-py36h3010b51_1 ...
installing: odo-0.5.1-py36h90ed295_0 ...
installing: scikit-image-0.13.1-py36h14c3975_1 ...
installing: statsmodels-0.9.0-py36h3010b51_0 ...
installing: blaze-0.11.3-py36h4e06776_0 ...
installing: seaborn-0.8.1-py36hfad7ec4_0 ...
installing: anaconda-5.2.0-py36_3 ...
unlinking: conda-4.5.11-py36_0
installation finished.
WARNING:
    You currently have a PYTHONPATH environment variable set. This may cause
    unexpected behavior when running the Python interpreter in Anaconda3.
    For best results, please verify that your PYTHONPATH only points to
    directories of packages that are compatible with the Python interpreter
    in Anaconda3: /usr/local
Solving environment: - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - done

## Package Plan ##

  environment location: /usr/local

  added / updated specs:
    - pythonocc-core


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2018.4.16          |           py36_0         142 KB  conda-forge

The following packages will be UPDATED:

    certifi: 2018.4.16-py36_0 --> 2018.4.16-py36_0 conda-forge
    conda:   4.5.4-py36_0     --> 4.5.11-py36_1000 conda-forge


Downloading and Extracting Packages
certifi-2018.4.16    |  142 KB | : 100% 1.0/1 [00:00<00:00,  2.69it/s]
Preparing transaction: | done
Verifying transaction: - \ done
Executing transaction: / done
Solving environment: - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - done

## Package Plan ##

  environment location: /usr/local

  added / updated specs:
    - conda


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    certifi-2018.4.16          |           py36_0         142 KB

The following packages will be UPDATED:

    certifi: 2018.4.16-py36_0 conda-forge --> 2018.4.16-py36_0

The following packages will be DOWNGRADED:

    conda:   4.5.11-py36_1000 conda-forge --> 4.5.11-py36_0


Downloading and Extracting Packages
certifi-2018.4.16    | 142 KB    | : 100% 1.0/1 [00:00<00:00, 11.49it/s]
Preparing transaction: | done
Verifying transaction: - done
Executing transaction: | done
Warning: 'conda-forge' already in 'channels' list, moving to the bottom
Solving environment: - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | / - \ | done

## Package Plan ##

  environment location: /usr/local

  added / updated specs:
    - numpy
    - pandas
    - scikit-learn
    - scikit-mdr
    - scipy
    - update_checker


The following packages will be downloaded:

    package                    |            build
    ---------------------------|-----------------
    scikit-mdr-0.4.4           |             py_0          11 KB  conda-forge
    update_checker-0.16        |             py_0           9 KB  conda-forge
    ------------------------------------------------------------
                                           Total:          20 KB

The following NEW packages will be INSTALLED:

    scikit-mdr:     0.4.4-py_0 conda-forge
    update_checker: 0.16-py_0  conda-forge


Downloading and Extracting Packages
scikit-mdr-0.4.4     | 11 KB     | : 100% 1.0/1 [00:00<00:00,  3.68it/s]
update_checker-0.16  | 9 KB      | : 100% 1.0/1 [00:00<00:00,  5.90it/s]
Preparing transaction: - done
Verifying transaction: | done
Executing transaction: - \ | / - \ done

## install numpy

In [0]:
import numpy as np

## install pandas

In [0]:
import pandas as pd

# Dataset

In [0]:
data = {'animal': ['cat', 'cat', 'snake', 'dog', 'dog', 'cat', 'snake', 'cat', 'dog', 'dog'],
        'age': [2.5, 3, 0.5, np.nan, 5, 2, 4.5, np.nan, 7, 3],
        'visits': [1, 3, 2, 3, 2, 3, 1, 1, 2, 1],
        'priority': ['yes', 'yes', 'no', 'yes', 'no', 'no', 'no', 'yes', 'no', 'no']}

# labels

In [0]:
labels = ['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j']

# step 1 : [create a dataframe with python pandas](https://stackoverflow.com/a/18837389/773257)

Create a DataFrame *df* from this dictionary data which has the index labels.

In [0]:
df = pd.DataFrame(data, index=labels)

# step 2 : summarize dataframe

Display a summary of the basic information about this DataFrame and its data.

In [17]:
df.describe()

            age     visits
count  8.000000  10.000000
mean   3.437500   1.900000
std    2.007797   0.875595
min    0.500000   1.000000
25%    2.375000   1.000000
50%    3.000000   2.000000
75%    4.625000   2.750000
max    7.000000   3.000000

# step 3 : slice rows of a dataframe

Return the first 3 rows of the DataFrame df.

In [18]:
df[:3]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
c  0.5  snake       no       2

# step 4 : [selective extraction of features](https://stackoverflow.com/a/11287278/773257)

Select just the 'animal' and 'age' columns from the DataFrame df.

In [19]:
df[['animal', 'age']]

  animal  age
a    cat  2.5
b    cat  3.0
c  snake  0.5
d    dog  NaN
e    dog  5.0
f    cat  2.0
g  snake  4.5
h    cat  NaN
i    dog  7.0
j    dog  3.0

# step 5 : [selective extraction of features and rows from dataframe](https://www.ritchieng.com/pandas-selecting-multiple-rows-and-columns/)

Select the data in rows [3, 4, 8] and in columns ['animal', 'age'].

In [20]:
df.loc[['c', 'd', 'h'],['animal', 'age']]

  animal  age
c  snake  0.5
d    dog  NaN
h    cat  NaN

# step 6 : [single](https://stackoverflow.com/a/11872393/773257) [filter on dataframe](https://chrisalbon.com/python/data_wrangling/filter_dataframes/)

Select only the rows where the number of visits is greater than 3.

In [21]:
df[df['visits'] > 3]

Empty DataFrame
Columns: [age, animal, priority, visits]
Index: []

# step 7 : filter out NaN values

Select the rows where the age is missing, i.e. is NaN

In [22]:
df[np.isnan(df['age'])]

   age animal priority  visits
d  NaN    dog      yes       3
h  NaN    cat      yes       1

# step 8 : [string and numeric](https://chrisalbon.com/python/data_wrangling/filter_dataframes/) [filters on a dataframe](https://stackoverflow.com/a/27975230/773257)

Select the rows where the animal is a cat and the age is less than 3.

In [23]:
df[(df['animal'].str.contains('cat')) & (df['age'] < 3)]

   age animal priority  visits
a  2.5    cat      yes       1
f  2.0    cat       no       3

# step 9 : multiple filters on a dataframe

Select the rows the age is between 2 and 4 (inclusive).

In [24]:
df[ (df['age'] >= 2) & (df['age'] <= 4) ]

   age animal priority  visits
a  2.5    cat      yes       1
b  3.0    cat      yes       3
f  2.0    cat       no       3
j  3.0    dog       no       1

# step 10 : [update specific feature record's(row's) value](https://stackoverflow.com/a/13842286/773257)

Change the age in row 'f' to 1.5.

In [0]:
df.at['f', 'age'] = 1.5

# step 11 : [feature aggregation](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.sum.html)

Calculate the sum of all visits (https://stackoverflow.com/a/41286607/773257)).

In [26]:
df['visits'].sum()

19

# step 12 : [dataframe feature statistic](https://www.shanelynn.ie/summarising-aggregation-and-grouping-data-in-python-pandas/)

[Calculate the mean age](https://stackoverflow.com/a/35077123/773257) for each different animal in df.

In [27]:
# df.groupby('animal')['age'].mean() # unlabeled mean of animals

# labeled mean age of each animal
df.groupby('animal').aggregate({'age': 'mean'}).add_prefix('mean_')

        mean_age
animal
cat     2.333333
dog     5.000000
snake   2.500000

# step 13 : [append row to existing dataframe](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.append.html)

[Append a new row 'k' to df](https://chrisalbon.com/python/data_wrangling/pandas_dropping_column_and_rows/) with your choice of values for each column. [Then delete that row to return the original DataFrame.](https://www.shanelynn.ie/using-pandas-dataframe-creating-editing-viewing-data-in-python/)

In [0]:
# create dataframe for row 'k'
k = {'animal': ['eagle'],'age': [100],'visits': [3453],'priority': ['yes']}
label_k = ['k']
dfk = pd.DataFrame(k, index=label_k)
# Append a new row 'k' to df
df = df.append(dfk)
# delete that row to return the original DataFrame. 
df = df.drop('k')

# step 14 : count feature frequency with groupby

Count the number of each type of animal in df.

In [29]:
df.groupby('animal').aggregate({'animal': 'count'}).add_suffix('_count')

        animal_count
animal
cat                4
dog                4
snake              2

# step 15 : [sort dataframe by feature(s)](https://stackoverflow.com/a/37787724/773257)

Sort df first by the values in the 'age' in descending order, then by the value in the 'visit' column in ascending order.

In [30]:
df.sort_values('age', ascending=False).sort_values('visits', ascending=True)

   age animal priority  visits
g  4.5  snake       no       1
j  3.0    dog       no       1
a  2.5    cat      yes       1
h  NaN    cat      yes       1
i  7.0    dog       no       2
e  5.0    dog       no       2
c  0.5  snake       no       2
b  3.0    cat      yes       3
f  1.5    cat       no       3
d  NaN    dog      yes       3

# step 16 : [re-map all feature values](https://stackoverflow.com/a/23307361/773257)

The 'priority' column contains the values 'yes' and 'no'. Replace this column with a column of boolean values: 'yes' should be True and 'no' should be False.

In [0]:
df['priority'] = df['priority'].map({'yes': True, 'no': False})

# step 17 : [find and replace feature value](https://stackoverflow.com/a/36957431/773257)

In the 'animal' column, change the 'snake' entries to 'python'.

In [0]:
df.animal.replace(['snake'], ['python'], inplace=True)

# step 18 : [pivot table](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.pivot_table.html)


For each animal type and each number of visits, find the mean age. In other words, each row is an animal, each column is a number of visits and the values are the mean ages (hint: use a [pivot table](https://pandas.pydata.org/pandas-docs/version/0.22/generated/pandas.pivot_table.html)).

In [33]:
pd.pivot_table(df, values='age', index=['animal', 'visits'], aggfunc=np.mean).add_prefix('mean_')

               mean_age
animal visits
cat    1           2.50
       3           2.25
dog    1           3.00
       2           6.00
       3            NaN
python 1           4.50
       2           0.50